@import "../../../shared/css/responsive_mixins";

.card-container {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 5px;

	@include for-screen(md, "<=") {
		margin-bottom: 10px;
	}

	img {
		height: 245px;
		width: 170px;

		@include for-screen(md, "<=") {
			height: 320px;
			width: 240px;
		}
	}

	&.selected {
		padding-top: 10px;

		img {
			height: 320px;
			width: 240px;
		}
	}
	:hover {
		cursor: pointer;
	}
}
